/*Shared Style*/
*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;

}
.text-primary{
    color: #FD6E0A;
}
.primary-button{
     background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 35px;

}

/*Navbar*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    font-size: 45px;
    font-size: 45px;
    color: black;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(77, 74, 70);
}
/* header design */
.header{
    background-color: rgb(230, 218, 213);
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greet{
    font-size: 45px;
    color: rgb(79, 79, 72);
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-decription{

}
.banner-content{
    max-width: 500px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about{
    padding: 130px;
    background-color: antiquewhite;
    margin: 130px 0;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    font-size: 18px;
    text-align: justify;
    color: rgb(72, 68, 63);
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-decription{
 padding: 30px 150px;

}
.skills-container{
    display: flex;
}
.skills{
    padding: 30px;
    gap: 10px;
    background-color: bisque;
    margin-left: 10px;
}
.title-description{
    color: rgb(103, 85, 63);
}

/* resume description */
.resume-coloum-title{
    font-size: 30px;
    font-weight: 700;
    color: grey;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-description{
    color: rgb(103, 85, 63);
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}
/* footer style */

footer{
    display: flex;
    background-color: aliceblue;
    gap: 100px;
    padding: 130px 200px;
    margin-top: 100px;
}
.social-links a img{
    margin-left: 10px;

}
.footer-coloum{
    width: 50%;
}
form input,textarea{
    display: block;
    padding: 18px 35px;
    margin-bottom: 25px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(156, 181, 192);
}